<h2>Top 50 Worldwide</h2>
<table class="track-table">

    <thead>
    <tr>
        <th>Title</th>
        <th>Album</th>
        <th>Artist</th>
        <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
    </tr>

    </thead>
    <tbody ui-sortable="$ctrl.uiSortableOptions"
           ng-model="$ctrl.playlist.songs">

    <tr class="trackMenu"
        context-menu="$ctrl.menuOptions"
        ng-repeat="track in $ctrl.playlist.songs track by $index"
        ng-dblclick="$ctrl.play($index)"
        ng-class="$index == $ctrl.getCurrentTrackIndex() ? 'playing' : ''"
    >

        <td>{{ track.tag.title }}</td>
        <td>{{ track.tag.album }}</td>
        <td>{{ track.tag.artist[0] }}</td>
        <td>{{ track.tag.duration | trackTime }}</td>


    </tr>
    </tbody>
</table>

<!--<json-formatter style="background-color: white;" json="$ctrl.playlist.songs" open="1"></json-formatter>-->