<div class="search-box inner-addon" outside-click="$ctrl.searchBoxBlur(true)">
    <i class="fa fa-search left-addon" aria-hidden="true"></i>
    <input type="text" placeholder="Search"
        ng-model="$ctrl.searchTerm"
        ng-keydown="$ctrl.key($event)"
        ng-change="$ctrl.searchBoxChange()"
       ng-focus="$ctrl.searchBoxBlur(false)">
    <div class="results" ng-if="!$ctrl.hideSuggestion">
        <ul>
            <li ng-repeat="suggestion in $ctrl.searchSuggestions" ng-click="$ctrl.suggestionClick(suggestion)">
                {{ suggestion }}
            </li>
        </ul>
    </div>
</div>
<!--ng-if="$ctrl.searchTerm"-->
<!--
    ng-focus="$ctrl.searchBoxFocus()"
    ng-blur="$ctrl.searchBoxBlur()"
-->