<div id="top" class="ui-panel">
    <div class="left">
        <span ng-click="back()"
                class="fa fa-chevron-left btn" aria-hidden="true"></span>
        <span ng-click="forward()"
                class="fa fa-chevron-right btn" aria-hidden="true"></span>
        <search-box></search-box>
    </div>



    <!--
    <div class="profile btn">
        <div class="profile-img">
            <img src="assets/img/profile_img.jpg" height="32px">
        </div>
        <span>Vidhu Shresth Bhatnagar</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    -->
    <div class="right">
        <span class="btn fa fa-bars" ui-sref="main.settings"></span>
    </div>
</div>