<h1>Search Results for {{$ctrl.searchTerm}}</h1>


<div class="search-results">

    <div class="item-results">
        <span class="title">Artists</span>
        <div class="item-result"
             ng-repeat="artist in $ctrl.searchResults.artists"
             ui-sref="main.artist({id:artist.name})">
            <img class="item-image" src="{{artist.image[1]['#text']}}" height="50px" width="50px"/>
            <div class="item-content">
                <span class="item-title">{{artist.name}}</span>
            </div>
        </div>
    </div>

   <div class="video-results">
       <span class="title">From Youtube</span>
        <div class="video-result" ng-repeat="video in $ctrl.searchResults.youtube">
            <div class="video">
                <iframe id="ytplayer" type="text/html" width="213" height="120"
                        src="{{$ctrl.getEmbedUrl(video.id.videoId)}}" frameborder="0"></iframe>
            </div>
            <div class="video-info">
                <span class="title">{{video.snippet.title}}</span>
                <span class="description">{{video.snippet.description}}</span>
            <span class="download">
                <button class="topcoat-button--cta"
                        ng-click="$ctrl.download(video.id.videoId)">
                    <span ng-if="$ctrl.downloadingFor[video.id.videoId]">Downloading</span>
                    <span ng-if="!$ctrl.downloadingFor[video.id.videoId]">Add to Download Queue</span>
                </button>
            </span>
            </div>
        </div>
    </div>
</div>

